{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}
{% block homeactive %} active {% endblock homeactive %}


{% block body %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section style="margin-top:10px;" class=" ">
  <div class="container mt-5">


    <h2 class="title-page"></h2>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-md-2">
        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">𝑪𝒂𝒕𝒆𝒈𝒐𝒓𝒊𝒆𝒔</h6> 
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">
                <ul class="list-menu">
                  <li><a href="{% url 'blogs' %}">𝑨𝒍𝒍 𝑩𝒍𝒐𝒈𝒔 </a></li>
                  {% for cat in categories %}
                      <li>
                          <a href="{% url 'cat_wise_blog' slug=cat.slug %}">{{cat.category_name}}</a>
                      </li>
                  {% endfor %}
              </ul>
              
              </div>
              <!-- card-body.// -->
            </div>
          </article>
        </div>
        <!-- card.// -->
      </aside>
      <main class="col-md-9">
        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"><b></b> <h3>🅾🆄🆁 🅱🅻🅾🅶🆂</h3></span>
          </div>
        </header>
        
        <div style=" " class="row mx-auto justify-content-center">
          {% if posts %} 
          {% for blog in posts %}
            <div style="max-width:300px; " class="col-lg-4  m-2">
              <figure class="card card-product-grid">
                <div class="img-wrap">
                  <a href="#"><img style="max-width:300px; height:350px; object-fit:cover;" src="{{ blog.image.url }}" /></a>
                </div>
                <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                  <div class="fix-height">
                    <a href="{% url 'blog_details' blog_id=blog.id %}" class="title">{{blog.title}}</a>
                  </div>
                  <a class="btn btn-outline-danger btn-block" href="{% url 'blog_details' blog_id=blog.id %}">𝐁𝐥𝐨𝐠 𝐃𝐞𝐭𝐚𝐢𝐥𝐬</a>
                  <a class="btn btn-outline-warning btn-block" href="{% url 'save_favorite' blog_id=blog.id %}">𝐅𝐚𝐯𝐨𝐫𝐢𝐭𝐞</a>
                  
                </figcaption>
              </figure>
            </div>
          <!-- col.// -->
          {% endfor %} 
          {% else %}
          <div>
            <h2>No result found. Please try again.</h2>
          </div>
          {% endif %}
        </div>

{% block js %} 
<script></script>
{% endblock %}
{% endblock %}
